<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoTrack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CustomDump (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>CustomDump (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>CustomDump (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5663D5CA27BDA8DE00F8F372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5663D5D027BDA8DE00F8F372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5663D5D727BDA8DE00F8F372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5663D5E327BDA8DE00F8F372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56A9B3DD27C178E60011EC1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
